
*.cs
*.ide
ORM-Projet/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ORM-Projet/obj/x86/Debug/ORM-Projet.csproj.CoreCompileInputs.cache
.vs/ORM-Projet/v15/.suo
ORM-Projet/obj/x86/Debug/ORM-Projet.csproj.CoreCompileInputs.cache
ORM-Projet/obj/x86/Debug/ORM-Projet.csproj.CoreCompileInputs.cache
*.cache
ORM-Projet/obj/x86/Debug/ORM-Projet.csproj.CoreCompileInputs.cache
ORM-Projet/obj/x86/Debug/ORM-Projet.csproj.CoreCompileInputs.cache
